html, body {
  background: #000000;
  padding: 0;
  margin: 0;
}

.navbar {
    background: #505050;
    height: 60px;
}

.center_div {
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: #000000;
}

.btn {
  font-family: monospace;
  background-color: #505050;
  border: 1px solid #303030;
  border-radius: 16px;
  height: 80px;

}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary.target, .open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #23272a;
  border-color: #ffffff;
}

.btn:active, .btn:focus {
  background-color: #23272a !important;
  border: 1px solid #303030 !important;
  outline: none !important;
  box-shadow: none !important;
  transform: translateY(4px);
}

.botton_baixo_esquerda {
  width: 25%;
}

.about-div{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  border: 3px solid green;
  background-color: #23272a !important;
}




/* FADE IN */

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@media (max-width: 992px) {
    .navbar{
        display:none;
    }
}
