html * {
   /*color: #ffffff !important;*/
   /*font-family: Arial !important;*/
   /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
   font-weight: 10;
   font-size: 8px;
   cursor: cell !important;
   transition: background-color .5s;
   overflow-x: hidden !important;
   overflow-y: hidden !important;
}

canvas {
  width: 100%;
  height: 100%
}

html, body {
  background: #000000;
  padding: 0;
  margin: 0;
}
/*
body.fadeOut {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    opacity: 0;
}
body.fadeIn {
    opacity: 1;
}*/

[nexus-ui] {
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  background-color: rgba(30,30,30,1);
}

#nexusWithBorder{
  border: 1px solid rgba(50, 50, 50, 1);
}

.oscilloscope {
  position: absolute;
  top: 238px;
  left: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1)
}

/*
.oscillatorHarmonicity {
  position: absolute;
  left: 125px;
  top: 10px;
}

.modulationEnvelopeAttack {
  position: absolute;
  left: 125px;
  top: 30px;
}

.modulationEnvelopeDecay {
  position: absolute;
  left: 125px;
  top: 50px;
}

.modulationEnvelopeSustain {
  position: absolute;
  left: 125px;
  top: 70px;
}

.modulationEnvelopeRelease {
  position: absolute;
  left: 125px;
  top: 90px;
}

.reverbRoomSize {
  position: absolute;
  left: 125px;
  top: 110px;
}

.reverbWetValue {
  position: absolute;
  left: 125px;
  top: 130px;
}

.reverbDampValue {
  position: absolute;
  left: 125px;
  top: 155px;
}
*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 992px) {
    .navbar{
      display:none;
    }
}

/* HIDE THINGS ON MOBILE */

@media screen and (max-width: 600px) {
  .topRightPage {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .topLeftPage {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .botRightPage {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .botLeftPage {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}


/*------------------- NAVBAR ------------------------*/

.topBar {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  background-color: black !important;
  border-radius: 5px;
  top: 5px;
  border: 1px solid rgba(50,50,50,1);
  color: #ffffff;
}

.btnCima {
  background-color: black !important;
	border: 1px solid rgba(50,50,50,1);
  color: #ffffff;
  width: 36px;
  height: 20px;
}

.btnCima:hover {
  background-image: none !important;
  background-color: #ffffff !important;
}

/*.navbar {
  background-color: t;
}*/

.muteButton {
  position: absolute;
  right: 2%;
}

.connectButton {
  position: absolute;
  right: 8%;
}

.instrumentoUm {
  position: absolute;
  width: 70%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(255,0,0,1);
  transition: 0.3s;

}
.instrumentoDois {
  position: absolute;
  width: 70%;
  height: 0%;
  /*overflow-x: hidden;
  overflow-y: hidden;*/
  background-color: rgb(0,255,0,1);
  transition: 0.3s;

}
.instrumentoTres {
  position: absolute;
  width: 70%;
  height: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(0,0,255,1);
  transition: 0.3s;

}
.instrumentoQuatro {
  position: absolute;
  width: 70%;
  height: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(255,255,255,1);
  transition: 0.3s;

}
.instrumentoCinco {
  position: absolute;
  width: 70%;
  height: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(0,0,0,1);
  transition: 0.3s;

}

/*NEW GUI*/

.buttonsone {
  position: absolute;
  background-color: rgba(0,0,0,1);
  left: 1%;
  bottom: 5%;
}

.buttonstwo {
  position: absolute;
  background-color: rgba(0,0,0,1);
  right: 5%;
  bottom: 5%;
}

.buttonsthree {
  position: absolute;
  background-color: rgba(0,0,0,1);
  right: 5%;
  top: 10%;
}
.buttonsfour {
  position: absolute;
  background-color: rgba(0,0,0,1);
  right: 5%;
  top: 30%;
}
.buttonsfive {
  position: absolute;
  background-color: rgba(0,0,0,1);
  right: 5%;
  top: 40%;
}
.buttonssix {
  position: absolute;
  background-color: rgba(0,0,0,1);
  right: 5%;
  top: 50%;
}

.master_dialog {
  color: white !important;
}

.controlos {
  position: absolute;
  left: 0;
  width: 20%;
  color: white !important;
}

.buttonColor {
  background-color: rgba(0,0,0,1);
  border: 1px solid rgba(50,50,50,1);
  font-style: normal;
  font-size: 10px ! important;
}

.buttonColor:hover {
  background-color: #ffffff !important;
}


/* Modals */

.modalAbout {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgba(0,0,0,1);
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(150,150,150,1);
  width: 80%;
  height: 80%;
}

.modalMode {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalScale {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* The Close Button */
.closeAbout {
  position: absolute;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 20px;
}
.closeMode {
  position: absolute;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 20px;
}
.closeScale {
  position: absolute;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 20px;
}

.modal-text {
  /* background-color: rgba(255,0,0,1); */
  margin: auto;
  width: 50%;
  font-size: 9px;
  color: white;
}

.closeAbout:hover,
.closeAbout:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.closeMode:hover,
.closeMode:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.closeScale:hover,
.closeScale:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}



/*        Scales        */
.divNotas {
  width: 450px;
  height: auto;
  position: absolute;
  left: 150px;
  background-color: red;
}

.gruponotas2, .gruponotas3, .gruponotas4, .gruponotas5, .grupomaior {
  width: 450px;
}

.grupocleanscale {
  width: 225px;
}

.buttonMajor {
  width: 100px;
}

.scalesButton {
  width: 100%;
}

.scaleInfo {
  border: 1px solid rgba(50,50,50,1);
  background-color: rgba(0,0,0,1);
  border-radius: 3px;
  width: 100%;
  height: 25px;
  font-family: monospace;
  font-style: normal;
  font-size: 10px ! important;
  text-background-color: rgba(255,0,0,1);
  text-align: center;
  display: inline-block;
  line-height: 25px;
}

.scaleButton {
  font-family: monospace;
  font-style: normal;
  font-size: 12px ! important;
  background-color: rgba(10,10,10,1);
  border: 1px solid rgba(50,50,50,1);
  width: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 6%;
}
.scaleButton:hover {
  background-color: #ffffff !important;
  color: black;
}

.streamButtonDiv {
  margin: auto;
  width: 80%;
  height: 60%;
  font-size: 9px;
  color: white;
}

.stateButton {
  font-style: normal;
  font-size: 9px ! important;
  background-color: rgba(10,10,10,1);
  border: 1px solid rgba(50,50,50,1);
  height: 100%;
  width: 50%;
  color: white;
}

.stateButton:hover {
  background-color: #ffffff !important;
  color: black;
}

h2 {
  vertical-align: top;
  font-size: 9px ! important;
  padding-bottom: 23em;
  text-align: center;
}

.groupStream {
    width: 100%;
    border-radius: 3px;
}



#stateButtonOneDiv {
  width: auto;
  height: auto;
  overflow-x: auto !important;
}
#stateButtonOneDiv .comment { display: none; }
#stateButtonOneDiv:hover .replies { display: none; }
#stateButtonOneDiv:hover .comment { display: inline; }


#stateButtonTwo{}
#stateButtonTree{}
#stateButtonFour{}

.camera2 {
  position: absolute;
  right: 10px;
  top: 25px;
}
.camera3 {
  position: absolute;
  right: 10px;
  top: 60px;
}
.camera4 {
  position: absolute;
  right: 10px;
  top: 95px;
}

.gruposhaders{
  position: absolute;
  left: auto;
  top: 10px;
}


/* Progress */
#myProgress {
  width: 100%;
  background-color: black;
  border-radius: 3px;
  display: none;
}

#myBar {
  width: 1%;
  height: 100%;
  background-color: white;
  display: none;
}

#myProgress1 {
  position: absolute;
  width: 80%;
  height: 3%;
  border: 1px solid rgba(50, 50, 50, 1);
  top: 45%;
  left: 10%;
  border-radius: 3px;
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

#start {
  position: fixed;
  display: block;
  z-index: 5000;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(0,0,0,1);
}

.alocateButton{
  font-size: 8px;
  background-color: rgba(0,0,0,1);
  border: 1px solid rgba(50,50,50,1);
  height: 90%;
  width: 80px;
  border-radius: 4px;
  border: 1px solid rgba(50,50,50,1) !important;
  color: white;
  text-align:center
  line-height: 6px;
  vertical-align: middle;
}

.alocateButton:hover {
  background-image: none !important;
  background-color: #ffffff !important;
  color: black !important;
}

#alocateOne {
  background-color: white;
  color: black;
}
.alocateDiv{
  margin: auto;
  width: 90%;
  height: 100%;
  font-size: 9px;
  color: white;
  margin: auto !important;
  background-color: black !important;
  margin-top: 5px;
}

.alocateLeft {
  margin-left: 8px;
}

.alocateGroup {
  top: 5px;
}

#alocate_dialog {
  background-color: black !important;
}

.izi {
  border: 1px solid white !important;
  font-size: 8px !important;
  font-family: monospace;
}

#ok {
  left: 0;
  top: 10px;
}

#sliderBox1 {
  width: 128px;
  height: 35px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 3px;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
}

#backgroundCockpit {
  display: inline-block;
  background-color: rgba(0,0,0,1);
  border-radius: 3px;
  border: 1px solid rgba(50,50,50,1);
  width: 846px;
  height: 259px;
  margin-left: 1px;
  margin-top: 1px;
}

#dialBox2 {
  position: absolute;
  left: 20px;
  top: 38px;
  width: 50px;
  height: 83px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
}

#dialBox {
  position: absolute;
  left: 78px;
  top: 38px;
  width: 50px;
  height: 83px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
}
#dialBox1 {
  position: absolute;
  left: 135px;
  top: 38px;
  width: 50px;
  height: 83px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
}

#dialBox3 {
  position: absolute;
  right: 20px;
  top: 38px;
  width: 50px;
  height: 83px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
}
#dialBox4 {
  position: absolute;
  left: 20px;
  top: 125px;
  width: 50px;
  height: 83px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
}
#dialBox5 {
  position: absolute;
  left: 78px;
  top: 125px;
  width: 50px;
  height: 83px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
}
#dialBox6 {
  position: absolute;
  left: 135px;
  top: 125px;
  width: 50px;
  height: 83px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
}
#dialBox7 {
  position: absolute;
  right: 20px;
  top: 125px;
  width: 50px;
  height: 83px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
  box-shadow: 0px 0px 0px 1px rgba(100,100,100,1);
}

.buttonsmaster {
  position: absolute;
  top: 213px;
  left: 9px;
  height: 31px;
  width: 243px;
}

.buttonsAbout {
  width: 72px;
  background-color: black;
  color: white;
  border-radius: 3px;
  height: 20px;
  border: 1px solid rgba(100, 100, 100, 1);
}
.buttonsAbout:hover{
  background: white;
  color: black;
}

#number, #number1, #number2, #number3, #number4, #number5, #number6, #number7{
  margin-top: 3px;
  width: 45px;
  height: 20px;
}

#networkTitle {
  position:absolute;
  width: 25%;
  height: 25px;
  line-height: 25px;
  font-size: 9px;
  left: 38%;
  top: 10%;
  border-radius: 3px;
  text-align: center;
  border: 1px solid rgba(50, 50, 50, 1);
  background-color: black !important;
}

.machineInfo {
  background-color: black;
  color: white;
  position: relative;
  width: 94%;
  height: 94%;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 8px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 4px;
  padding: 10px;
}

.networkinfo {
  background-color: black;
  color: white;
  font-size: 8px;
  padding: 10px;
}

#glcanvas {
  display: none;
}



.netimg {
  width: 10%;
  height: 10%;
}

.stats {
  position: absolute;
  right: 0px;
  top: 5px;
}

#shader0 {
  background-color: white;
  color: black;
}

#networkinfo, #monitordiv {
  background-color: black;
  color: white;
  position: relative;
  width: 94%;
  height: 94%;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 8px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 4px;
}

.mainvolume, .synthvolume, .backgroundvolume, .lowfreq, .highfreq, .eqmid, .eqhigh, .eqbass {
  position: absolute;
  left: 1px;
}

.number, .number1, .number2, .number3, .number4, .number5, .number6, .number7 {
  position: absolute;
  left: 1px;
  top: 58px;
}

.saveDivs {
  background-color: black;
  color: white;
  position: relative;
  width: 94%;
  height: 68px;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 8px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 4px;
  padding: 6px;
}

.saveDiv3 {
  background-color: black;
  color: white;
  position: relative;
  width: 94%;
  height: 100px;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 8px;
  border: 1px solid rgba(50, 50, 50, 1);
  border-radius: 4px;
  padding: 6px;
}

.aboutText {
  text-align: center;
  margin: 6px;
}

audio {
  width: 250px;
  height: 35px;
  margin-top: 5px;
  background-color: red !important;
  border-radius: 3px;
  border: 1px solid rgba(50, 50, 50, 1);
}
